.accordion-button {
    font-size: 2.5rem;
    font-weight: 400;
    background-color:#20c997;
    color: white;
    text-align: center;
}

.accordion-body {
    font-size: 2.5rem;
    font-weight: 200;
    color: #333;
}

#productos {
    background-color: f6f6f6;
}

.section-header {
    font-size: 4rem;
}

.mas-info {
    color: #00bfe8
}

.shorties {
    padding: 3rem !important
}

.prod-fix {
    position: relative; 
    top: -80px; 
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}



@media (width <= 940px) {
    .accordion-button {
        font-size: 1.5rem;
        font-weight: 400;
        background-color:#20c997;
        color: white;
        text-align: center;
    }
    
    .accordion-body {
        font-size: 1.5rem;
        font-weight: 200;
        color: #333;
    }
    .shorties {
        padding: .50rem 3rem !important;
    }
    .prod-fix {
        position: relative; 
        top: 0px;         
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

  }